.notification {
  font-size: 16px;
  border: 2px solid;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification.success {
  color: green;
  border-color: green;
  background-color: #e6ffe6;
}

.notification.error {
  color: red;
  border-color: red;
  background-color: #ffe6e6;
}
